@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6e5252;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav-link {
  text-decoration: none;
  color: #2C2C2C;
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: color 0.2s ease-in-out;
}

.main-nav-link:hover {
  color: #E85A2E;
}