@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #800000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav-link {
  text-decoration: none;
  color: #2C2C2C;
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: color 0.2s ease-in-out;
}

.main-nav-link:hover {
  color: #E85A2E;
}

.grid-card {
  /* Tente diminuir este valor. Comece com 290px e veja. */
  width: 290px;

  height: 280px;
  border-radius: 20px;
}

/* Para telas de tablet e menores */
@media (max-width: 1024px) {
  .grid-card {
    flex-basis: 45%;
    /* Força o layout 2x2 */
  }
}

/* Para telas de celular */
@media (max-width: 640px) {
  .grid-card {
    flex-basis: 100%;
    /* Força o layout de 1 coluna */
  }
}